h1{
  color:white;
}
h3{
  color:white;
}
.btn{
  cursor:pointer;
}
body{
  background-color:black;
}
.btn-primary{
  margin:20px;
  padding:25px;
  width:5em;
}
.btn-secondary{
  background-color:red;
}